body {
    padding-top: 54px;
    margin-bottom: 90px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.alert{
    width: 100%;
    margin-top: 10px;
}
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #f5f5f5;
    margin-top: 10px;
}